/* .textColor{
    color: green;
} */
.split{
    
    display: flex;
    justify-content: space-between;
    align-items: center;   
    text-align: center;
    width: 900px;
    height: 150px;
    border-bottom-style: solid;
    padding: 20px;
}
.table{
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;   
    text-align: center;
    width: 900px;
    margin: 20px;
    
}

.box{
    width: 100px;
    height: 25px;
    border: solid;
    box-shadow: 2px 2px;
    
}
/* .center{
    align-items: center;
} */
